name: Lint and test

on: ["push", pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version: "1.23"

      - name: Run tests
        run: go test -v -race ./...

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version: "1.23"

      - name: Run lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
